﻿*{margin: 0; padding: 0}

body {
	background:url(img/background.jpg) top left;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:top;
	padding: 0;
	margin: 0;
	font: .8em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}

#wrapper{ margin-right: auto;
  margin-left: auto;
  *zoom: 1;}

#map_canvas, #map_canvas2, #map_canvas3 {
	margin: auto;
	width: 650px;
	height: 300px;
	margin-bottom: 10px;
	margin-top: 10px;
}

#wrapper h1{
	color:#FFF;
	text-align:center;}

#wrapper a{
	display:block;
	color:#FFF;
	text-decoration:none;
	text-align:center;}

#tabContainer {
	width:700px;
	background-color: black;
	border-radius: 7px;
	margin: auto;
	margin-top: 10px;
}

.tabs {
	height:35px;
	text-align: center;
}



ul{
	position: relative;
	left: 40px;
	list-style:none;
}

ul > li{
	margin: auto;
	display:block;
	margin: 2px;
	margin-top: 5px;
	color:#FFF;
	width: 300px; height: 20px;
	top: 200px;
	padding: 3px;
	float: left;
	text-align: center;
	border-radius: 3px;
	background-image: linear-gradient(bottom, rgb(139,143,135) 25%, rgb(180,184,177) 67%);
	background-image: -o-linear-gradient(bottom, rgb(139,143,135) 25%, rgb(180,184,177) 67%);
	background-image: -moz-linear-gradient(bottom, rgb(139,143,135) 25%, rgb(180,184,177) 67%);
	background-image: -webkit-linear-gradient(bottom, rgb(139,143,135) 25%, rgb(180,184,177) 67%);
	background-image: -ms-linear-gradient(bottom, rgb(139,143,135) 25%, rgb(180,184,177) 67%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(139,143,135)), color-stop(0.67, rgb(180,184,177)));
}

ul > li:hover{
	background: #FFFFFF;
	cursor:pointer;
	color: #333;
	background-color: gray;
}

ul > li.tabActiveHeader{
	color: #333;
	background-color: gray;}

.tabscontent {
	margin:0;
	color: white;
	background-color: blue;
	background:url(img/smallbackground.jpg) top left;
	border: 2px solid black;
}

h2{
	padding: 10px;
	font-size: 1.2em;
	color: white;
	text-align: center;}

#tabpage_1 {
	text-align: center;
	color: white;
	height: 180px;
}

#text {text-align: center;}

#button{margin:10px;}